// Variable

// colors

$aссеnt: #00e0d0;
$forwhite: #413d4b;
$fordark: #ffffff;

// shrift

$roboto: Roboto,
sans-serif;

// Sizes

$width: 940px;

// /Variable

///////////////////////////////////

// Common

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

.overlay {
    background-image: -moz-linear-gradient(0deg,
        rgb(9, 5, 47) 0%,
        rgb(49, 29, 94) 100%);
    background-image: -webkit-linear-gradient(0deg,
        rgb(9, 5, 47) 0%,
        rgb(49, 29, 94) 100%);
    background-image: -ms-linear-gradient(0deg,
        rgb(9, 5, 47) 0%,
        rgb(49, 29, 94) 100%);
    opacity: 0.851;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: block;
    border: 1px solid $aссеnt;
    border-radius: 2px;
    background-color: transparent;
    color: $aссеnt;
    font-size: 16px;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    line-height: 2.7em;
}

.title {
    margin-top: 4.5%;
    text-align: center;
    color: $forwhite;
    margin-bottom: 4.5%;


    h2 {
        text-transform: uppercase;
    }

    p {
        font-size: 1.4em;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        position: relative;
        color: #78777b;
    }

    p:after {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #78777b;
        top: 40px;
        left: 50%;
        margin-left: -25px;
    }
}

//Common

////////////////////

// Typography

h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.2em;
    font-weight: 900;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.2em;
    font-weight: 700;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 0px;
}

// Typography end

// Header start

.header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    max-width: $width;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.navbar__logo {
    a {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        color: $aссеnt;

        img {
            margin-right: 10px;
        }
    }
}

.navbar__links {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 1.3em;
        width: 540px;
    }

    a {
        color: $fordark;
        font-family: $roboto;
        font-weight: 900;
    }

    a:hover {
        color: $aссеnt;
    }
}

.navbar-active {
    padding-bottom: 200px;
    border-bottom: 1px solid #00e0d0;
    transition: 0.4s;
}

.navbar__links-active {
    display: block;

    ul {
        position: absolute;
        flex-direction: column;
        left: 5%;
        margin-top: 40px;

        li {
            margin-bottom: 10px;
        }
    }
}

.navbar__burger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;

    span,
    span::before,
    span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 1px;
        background-color: $aссеnt;
    }

    span::before,
    span::after {
        content: "";
        display: block;
        transition: 0.3s;
    }

    span::before {
        transform: translateY(-5px);
    }

    span::after {
        transform: translateY(5px);
    }
}

.navbar__burger-active {
    span::before {
        transform: rotate(45deg);
    }

    span::after {
        transform: rotate(-45deg);
    }

    span {
        height: 0px;
    }
}

.slider {
    max-width: 780px;
    width: 100%;
    margin-top: 8%;
}

.slider-element {
    text-align: center;

    .slider-element-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    h1 {
        color: $fordark;
    }

    h1:after {
        content: "";
        display: block;
        width: 52px;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-left: -26px;
        margin-top: 25px;
        background-color: $aссеnt;
    }

    p {
        margin-top: 37px;
        color: $fordark;
    }

    .btn {
        margin-top: 50px;
    }
}

.slick-dots {
    margin: 0;
    margin-top: 13%;
    margin-bottom: 9%;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;

    .slick-active {
        button {
            background-color: $aссеnt;
            border-color: $aссеnt;
        }
    }

    li {
        display: inline-block;
        margin: 0 2px;

        button {
            font-size: 0;
            line-height: 0;
            padding: 0;
            display: block;
            background-color: transparent;
            border: 1px solid rgb(194, 194, 194);
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
}

// Header end

// MAIN START 

// ABOUT SECTION START 
.about {
    display: flex;
    flex-direction: column;
}

.about__info {
    margin-top: 4.45%;
    margin-bottom: 4.45%;
    max-width: $width;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.about__info_img {
    max-width: 380px;
    width: 100%;
    text-align: center;
}

.about__info_sub {
    color: $forwhite;
    max-width: 540px;

    h2 {
        margin-top: 0px;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    p {
        margin-top: 0px;
        margin-bottom: 3rem;
    }
}

.about__video {
    width: 100%;
    position: relative;
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
    opacity: 0;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    position: absolute;
    z-index: 100;
}

.plyr__control--overlaid {
    background: transparent;
    border: 3px solid white;
    width: 100px;
    height: 100px;
}

.plyr__control--overlaid svg {
    left: 23px;
    position: relative;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: $aссеnt;
    color: #fff;
}

.plyr button {
    width: 100px;
}

.video-filter {
    background-image: -webkit-linear-gradient(0deg,
        rgb(9, 5, 47) 0%,
        rgb(49, 29, 94) 100%);
    opacity: 0.851;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
}

// ABOUT SECTION END

// EXPERTICE SECTION START 

.expertise {
    display: flex;
    flex-direction: column;
    align-items: center;

    .items {
        display: flex;
        flex-direction: column;
        max-width: $width;
        margin-bottom: 5%;

        .row-top,
        .row-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .row-top {
            border-bottom: 1px solid #ebebeb;
        }

        .row-top :last-child,
        .row-bottom :last-child {
            border-right: none;
        }

        .one-item {
            text-align: center;
            max-width: 310px;
            padding: 30px 20px 40px 20px;
            border-right: 1px solid #ebebeb;

            h3 {
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 1.4em;
            }

            p {
                color: #78777b;
                font-size: 1.4em;
            }
        }

    }
}

// EXPERTICE SECTION END

// TEAM SECTION START 

.team {
    background-image: url(../img/team-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .title {
        color: $fordark;

        p {
            color: $fordark;
        }

        p:after {
            background-color: #655c80;
        }
    }

    .team__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        width: 100%;

    }

    .team__block_person {
        width: 220px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: $fordark;
        margin: 10px;
    }

    .team__block_person :last-child {
        margin-right: 0px;
    }

    .team__block_person-photo {
        width: 100%;
        height: 230px;
        background-color: white;
    }

    .team__block_sub {
        border: 1px solid #7b7890;
    }

    p {
        font-size: 1.4em;
        font-family: $roboto;
        color: $fordark;
        font-weight: 300;
        margin-top: 3.8%;
        text-align: center;
    }

    .btn {
        width: 140px;
        margin-top: 30px;
        margin-bottom: 3.8%;
    }
}

.block_person-name {
    font-size: 1.4em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.block_person-role {
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 25px;
}

// TEAM SECTION END

// WORKS SECTION START

.w-container {
    max-width: $width - 20px;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .works__title {
        display: flex;
        max-width: $width;
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 4.4%;
        margin-bottom: 4.4%;

        h2 {
            margin: 0;
            text-transform: uppercase;
        }

        .see {
            display: flex;
            align-items: center;
            font-size: 1.4em;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: $forwhite;

            img {
                margin-left: 10px;
            }
        }
    }

    .works__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1600px;
        text-align: center;
        justify-content: center;

        .works__one-project {
            display: block;
            width: 265px;
            height: 200px;
        }
    }

    .works__btn {
        margin-top: 4.4%;
        margin-bottom: 4.4%;
    }
}

// WORKS SECTION END

// FEEDBACK SECTION START

.feedback {
    background-image: url(../img/feedback-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ebeaef;

    .feedback__quote {
        margin-top: 2.4%;
        font-size: 10em;
        font-family: "Playfair Display", serif;

    }

    .feedback__slider_text {
        text-align: center;
        max-width: 780px;
        width: 95%;
        font-family: 'Roboto', sans-serif;

        p {
            font-family: "Playfair Display", serif;
            margin-top: 0;
            font-size: 1.6em;
            font-weight: 400;
        }

        .block_person-name {
            margin-top: 7%;
        }

        .block_person-role {
            margin-bottom: 5.5%;
        }
    }

    .feedback__slider_img {
        max-width: 380px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4.4%;
    }

    .slider_img-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }

    .slick-current {
        .block_for_image {
            width: 70px;
            height: 70px;
            transition: 0.2s;
        }
    }

    .block_for_image {
        width: 45px;
        height: 45px;
        transition: 0.2s;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .slick-next,
    .slick-prev {
        font-size: 0px;
        position: absolute;
        border: none;
        background-color: transparent;
        width: 15px;
        height: 70px;
        display: block;
    }

    .slick-prev {
        left: -30px;
    }

    .slick-next {
        position: absolute;
        right: -30px;
    }

    .slick-prev:before,
    .slick-prev:after,
    .slick-next:before,
    .slick-next:after {
        position: absolute;
        content: '';
        display: block;
        width: 15px;
        height: 2px;
        background-color: #9f9f9f;

    }

    .slick-prev:before {
        transform: rotate(-50deg);
        top: 30px;
        left: 0;
    }

    .slick-prev:after {
        transform: rotate(50deg);
        top: 41px;
        left: 0;
    }

    .slick-next:after {
        transform: rotate(-50deg);
        top: 41px;
        right: 0;
    }

    .slick-next:before {
        transform: rotate(50deg);
        top: 30px;
        right: 0;
    }





}

// FEEDBACK SECTION END

// CONTACT SECTION START 

.contact {
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: row;
        max-width: $width;
        width: 95%;
        justify-content: space-between;
        margin-bottom: 4.43%;

        h2 {
            margin-top: 4.43%;
            color:$forwhite;
            margin-bottom: 35px;
        }
    }

    .contact__form {
        max-width: 460px;
        width: 100%;
        margin-right: 50px;

        form {
            font-family: 'Roboto', sans-serif;
            font-size: 1.4em;
            font-weight: 300;
            display: flex;
            flex-direction: column;

        }

        input,
        textarea {
            border: 1px solid #e5e5e5;
            margin-bottom: 25px;
            color: #e5e5e5;
        }

        input {
            padding-left: 20px;
            height: 45px;
        }

        textarea {
            resize: none;
            height: 200px;
            padding: 20px;
        }

        .btn {
            cursor: pointer;
        }
    }



    .contact__client {
        max-width: 380px;
        width: 100%;

        .contact__labels {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        .contact__labels_left, .contact__labels_right {
            width: 160px;
            text-align: center;
        }

        .block_for_label {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

    }
}

// CONTACT SECTION END

// MAIN END

// MEDIA START

@media screen and (max-width: 1605px) {
    .works .works__items {
        max-width: 1140px;
    }
}

@media screen and (max-width: 875px) {
    
    html {
        font-size: 12px;
    }

    .navbar__links {
        display: none;
        width: 0;
    }

    .navbar__links-active {
        display: block;

        ul {
            width: 200px;
        }
    }

    .slider-element-container {
        margin: 0 10px;
    }

    .navbar__burger {
        display: block;
    }

    // MAIN 

    .about__info {
        flex-direction: column;
        align-items: center;
    }

    .about__info_img {
        display: none;
    }

    .about__info_sub {
        max-width: 90%;
    }

    .contact .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        .contact__form {
            margin-right: 0;
        }
    }


    
}

@media screen and (max-width: 600px) {

    .expertise .items .row-top,
    .expertise .items .row-bottom {
        flex-direction: column;
        border: none;
    }

    .expertise .items .one-item {
        border: none;
    }

    .contact .contact__client .contact__labels {
        flex-wrap: wrap;
        justify-content: center;
    }

}

// MEDIA END