html {
  font-size: 10px; }

a {
  text-decoration: none; }

.overlay {
  background-image: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  opacity: 0.851;
  display: flex;
  flex-direction: column;
  align-items: center; }

.btn {
  display: block;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  background-color: transparent;
  color: #00e0d0;
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
  line-height: 2.7em; }

.title {
  margin-top: 4.5%;
  text-align: center;
  color: #413d4b;
  margin-bottom: 4.5%; }
  .title h2 {
    text-transform: uppercase; }
  .title p {
    font-size: 1.4em;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    position: relative;
    color: #78777b; }
  .title p:after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #78777b;
    top: 40px;
    left: 50%;
    margin-left: -25px; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.2em;
  font-weight: 900; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
  font-weight: 700; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 0px; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.navbar {
  max-width: 940px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s; }

.navbar__logo a {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #00e0d0; }
  .navbar__logo a img {
    margin-right: 10px; }

.navbar__links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.3em;
  width: 540px; }

.navbar__links a {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 900; }

.navbar__links a:hover {
  color: #00e0d0; }

.navbar-active {
  padding-bottom: 200px;
  border-bottom: 1px solid #00e0d0;
  transition: 0.4s; }

.navbar__links-active {
  display: block; }
  .navbar__links-active ul {
    position: absolute;
    flex-direction: column;
    left: 5%;
    margin-top: 40px; }
    .navbar__links-active ul li {
      margin-bottom: 10px; }

.navbar__burger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative; }
  .navbar__burger span,
  .navbar__burger span::before,
  .navbar__burger span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 1px;
    background-color: #00e0d0; }
  .navbar__burger span::before,
  .navbar__burger span::after {
    content: "";
    display: block;
    transition: 0.3s; }
  .navbar__burger span::before {
    transform: translateY(-5px); }
  .navbar__burger span::after {
    transform: translateY(5px); }

.navbar__burger-active span::before {
  transform: rotate(45deg); }

.navbar__burger-active span::after {
  transform: rotate(-45deg); }

.navbar__burger-active span {
  height: 0px; }

.slider {
  max-width: 780px;
  width: 100%;
  margin-top: 8%; }

.slider-element {
  text-align: center; }
  .slider-element .slider-element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
  .slider-element h1 {
    color: #ffffff; }
  .slider-element h1:after {
    content: "";
    display: block;
    width: 52px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
    margin-top: 25px;
    background-color: #00e0d0; }
  .slider-element p {
    margin-top: 37px;
    color: #ffffff; }
  .slider-element .btn {
    margin-top: 50px; }

.slick-dots {
  margin: 0;
  margin-top: 13%;
  margin-bottom: 9%;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center; }
  .slick-dots .slick-active button {
    background-color: #00e0d0;
    border-color: #00e0d0; }
  .slick-dots li {
    display: inline-block;
    margin: 0 2px; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      padding: 0;
      display: block;
      background-color: transparent;
      border: 1px solid #c2c2c2;
      width: 10px;
      height: 10px;
      border-radius: 50%; }

.about {
  display: flex;
  flex-direction: column; }

.about__info {
  margin-top: 4.45%;
  margin-bottom: 4.45%;
  max-width: 940px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center; }

.about__info_img {
  max-width: 380px;
  width: 100%;
  text-align: center; }

.about__info_sub {
  color: #413d4b;
  max-width: 540px; }
  .about__info_sub h2 {
    margin-top: 0px;
    margin-bottom: 3rem;
    text-transform: uppercase; }
  .about__info_sub p {
    margin-top: 0px;
    margin-bottom: 3rem; }

.about__video {
  width: 100%;
  position: relative; }

.plyr--stopped.plyr__poster-enabled .plyr__poster {
  opacity: 0; }

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  position: absolute;
  z-index: 100; }

.plyr__control--overlaid {
  background: transparent;
  border: 3px solid white;
  width: 100px;
  height: 100px; }

.plyr__control--overlaid svg {
  left: 23px;
  position: relative; }

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #00e0d0;
  color: #fff; }

.plyr button {
  width: 100px; }

.video-filter {
  background-image: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  opacity: 0.851;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0; }

.expertise {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .expertise .items {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin-bottom: 5%; }
    .expertise .items .row-top,
    .expertise .items .row-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .expertise .items .row-top {
      border-bottom: 1px solid #ebebeb; }
    .expertise .items .row-top :last-child,
    .expertise .items .row-bottom :last-child {
      border-right: none; }
    .expertise .items .one-item {
      text-align: center;
      max-width: 310px;
      padding: 30px 20px 40px 20px;
      border-right: 1px solid #ebebeb; }
      .expertise .items .one-item h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 1.4em; }
      .expertise .items .one-item p {
        color: #78777b;
        font-size: 1.4em; }

.team {
  background-image: url(../img/team-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .team .title {
    color: #ffffff; }
    .team .title p {
      color: #ffffff; }
    .team .title p:after {
      background-color: #655c80; }
  .team .team__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
  .team .team__block_person {
    width: 220px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 10px; }
  .team .team__block_person :last-child {
    margin-right: 0px; }
  .team .team__block_person-photo {
    width: 100%;
    height: 230px;
    background-color: white; }
  .team .team__block_sub {
    border: 1px solid #7b7890; }
  .team p {
    font-size: 1.4em;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin-top: 3.8%;
    text-align: center; }
  .team .btn {
    width: 140px;
    margin-top: 30px;
    margin-bottom: 3.8%; }

.block_person-name {
  font-size: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px; }

.block_person-role {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 25px; }

.w-container {
  max-width: 920px; }

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .works .works__title {
    display: flex;
    max-width: 940px;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.4%;
    margin-bottom: 4.4%; }
    .works .works__title h2 {
      margin: 0;
      text-transform: uppercase; }
    .works .works__title .see {
      display: flex;
      align-items: center;
      font-size: 1.4em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #413d4b; }
      .works .works__title .see img {
        margin-left: 10px; }
  .works .works__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1600px;
    text-align: center;
    justify-content: center; }
    .works .works__items .works__one-project {
      display: block;
      width: 265px;
      height: 200px; }
  .works .works__btn {
    margin-top: 4.4%;
    margin-bottom: 4.4%; }

.feedback {
  background-image: url(../img/feedback-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ebeaef; }
  .feedback .feedback__quote {
    margin-top: 2.4%;
    font-size: 10em;
    font-family: "Playfair Display", serif; }
  .feedback .feedback__slider_text {
    text-align: center;
    max-width: 780px;
    width: 95%;
    font-family: 'Roboto', sans-serif; }
    .feedback .feedback__slider_text p {
      font-family: "Playfair Display", serif;
      margin-top: 0;
      font-size: 1.6em;
      font-weight: 400; }
    .feedback .feedback__slider_text .block_person-name {
      margin-top: 7%; }
    .feedback .feedback__slider_text .block_person-role {
      margin-bottom: 5.5%; }
  .feedback .feedback__slider_img {
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.4%; }
  .feedback .slider_img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; }
  .feedback .slick-current .block_for_image {
    width: 70px;
    height: 70px;
    transition: 0.2s; }
  .feedback .block_for_image {
    width: 45px;
    height: 45px;
    transition: 0.2s; }
    .feedback .block_for_image img {
      width: 100%;
      height: 100%; }
  .feedback .slick-next,
  .feedback .slick-prev {
    font-size: 0px;
    position: absolute;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 70px;
    display: block; }
  .feedback .slick-prev {
    left: -30px; }
  .feedback .slick-next {
    position: absolute;
    right: -30px; }
  .feedback .slick-prev:before,
  .feedback .slick-prev:after,
  .feedback .slick-next:before,
  .feedback .slick-next:after {
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #9f9f9f; }
  .feedback .slick-prev:before {
    transform: rotate(-50deg);
    top: 30px;
    left: 0; }
  .feedback .slick-prev:after {
    transform: rotate(50deg);
    top: 41px;
    left: 0; }
  .feedback .slick-next:after {
    transform: rotate(-50deg);
    top: 41px;
    right: 0; }
  .feedback .slick-next:before {
    transform: rotate(50deg);
    top: 30px;
    right: 0; }

@media screen and (max-width: 1605px) {
  .works .works__items {
    max-width: 1140px; } }

@media screen and (max-width: 875px) {
  html {
    font-size: 12px; }
  .navbar__links {
    display: none;
    width: 0; }
  .navbar__links-active {
    display: block; }
    .navbar__links-active ul {
      width: 200px; }
  .slider-element-container {
    margin: 0 10px; }
  .navbar__burger {
    display: block; }
  .about__info {
    flex-direction: column;
    align-items: center; }
  .about__info_img {
    display: none; }
  .about__info_sub {
    max-width: 90%; } }

@media screen and (max-width: 600px) {
  .expertise .items .row-top,
  .expertise .items .row-bottom {
    flex-direction: column;
    border: none; }
  .expertise .items .one-item {
    border: none; } }
